# Dependencies
node_modules
npm-debug.log

# Build output
.next
out

# IDE and editor files
.idea
.vscode
*.swp
*.swo

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Documentation
README.md
STYLE-GUIDE.md
LICENSE

# GitHub
.github
